.App {
  text-align: center;
  margin-top: 50px;
}

input:not([class*="chakra"]) {
  padding: 10px;
  font-size: 16px;
}

button:not([class*="chakra"]) {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

p:not([class*="chakra"]) {
  font-size: 18px;
  color: green;
}
